.swiper-slide-parent{
  background-color: #eeeeee;
  padding: 30px;
}
.swiper-slide-thumb-active{
  background-color: #62bd5e;
  padding: 5px;
}
.mySwiper{
  margin-top: 30px;
}
.showing-span{
  padding: .25rem .5rem;
  background-color: rgb(229, 231, 235);
  border-radius: .375rem;
  font-size: 14px;
}
.swiper-slide.page-numbers{
  margin: 0;
}
.swiper-slide.page-numbers:not(.current){
  user-select: none;
  cursor: pointer;
}

.mySwiperNavigation .swiper-button-prev,.mySwiperNavigation .swiper-button-next{
  top: -30px !important;
}